.header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 254px;
 }

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 254px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 50;
}

.nav-a {
    font-size: 18px;
    color: #37393f;
    font-family: 'Inter';
}

.logo {
    width: 200px;
    height: 38px;
}

.nav {

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul {
    width: 602px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Get-Consulting {
    width: 185px;
    height: 65px;
    background-color: #6B77E6;
    padding: 21px 35px 22px 35px;
    margin-left:40px;
    font-family: 'Cabin';
}

.text-Get-Consulting {
    color: #ffffff;
}
 
/* header */

.block-2 {
    width: 1220px;
    height: 510px;
    margin-left: 350px;
    margin-right: 350px;
}

.block-2-text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.text-Work-Process {
    font-size: 18px;
    color: #37393f;
    font-family: 'Inter';
}

.How-We-Work {
    font-size: 40px;
    color: #37393f;
    margin-top: 16px;
    font-family: 'Poppins';
    text-shadow: 1px 1px black;
}

.div-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 383px;
    position: relative;
    bottom: 0;
}

.div-flex-1 {
    width: 386px;
    background-color: #F4F4F4;
}

.div-flex-2 {
    width: 386px;
    background-color: #F4F4F4;
}

.div-flex-3 {
    width: 386px;
    background-color:  #F4F4F4;
}

.child-div {
    padding: 58px 42px 10px 43px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.title-a {
    font-size: 25px;
    color: #37393f;
    text-align: center;
    padding-bottom: 16px;
    font-family: 'Inter-M';
}

.text-a {
    font-size: 18px;  
    color: #7d7d7d;
    text-align: center;
}

.text-b {
    font-size: 22px;
    color: #6B77E5;
    margin-top: 37px;
    text-align: center;
    font-family: 'Inter-M';
}

.block-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.aqua-box {
    width: 72px;
    height: 72px;
    background-color:  #40DDB6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 58px;
}

.block-icon {
    display: flex;
    align-items: center; 
}

.blue-box {
    width: 72px;
    height: 72px;
    background-color: #6B77E5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 58px;
}

.icon-style {
    height: 43px;
    width: 43px;
}

/* video-section */

.video-section {
    width: 1920px;
    height: 557px;
    background-color: #40DDB6;
    position: relative;
    margin: auto;
}

.text-video {
    width: 511px;
    height: 271px;
    position: absolute;
    left: 705px;
    right: 704px;
    top: 143px;
    bottom: 143px;
    text-align: center;
}

.play-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-short-video {
    font-size: 18px;
    color: #37393f;
    font-family: 'Inter';
}

.text-out-presentation {
    font-size: 40px;
    color: #37393f;
    margin-bottom: 21px;
    margin-top: 16px;
    font-family: 'Poppins';
    text-shadow: 1px 1px black;
}

.text-content {
    font-size: 18px;
    color: #37393f;
    padding-bottom: 47px;
}

.expert{
    width: 1220px;
    margin: 0 auto;
    margin-left: 348px;
    margin-right: 348px;
    margin-top: 130px;
}


.title-expert{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.our{
    font-size: 16px;
    color: #37393f;
    font-family: 'Inter';
}

.meet-text{
    font-size: 40px;
    color: #37393f;
    font-family: 'Poppins';
    text-shadow: 1px 1px black;
}

.expert-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.image-size{
    width: 386px;
    height: 532px;
    margin-top: 127px;
}
.nattasha{
    position: relative;
    z-index: 3;
}

.david{
    position: relative;
    z-index: 3;
}

.madeleine{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.child-box {
    background-color: #ffffff;
    width: 341px;
    height: 114px;
    position: absolute;
    bottom: 22px;
    left: 22px;
    right: 23px;
    z-index: 7;
    text-align: center;
}

.expert-title-2{
    font-size: 38px;
    color: #37393f;
    margin-top: 24px;
    margin-bottom: 4px;
}

.expert-text-2{
    font-size: 18px;
    color: #7d7d7d;
    
}